input {
  width: 100%;
}

fieldset {
  all: unset;
  width: 100%;
  margin-bottom: 3rem;

  & input {
    width: 100%;
  }

  & legend {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1.5rem;


    & img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

}

.customization {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--input-stroke);
  color: white;

  & p {
    font: var(--body-sm);
    margin-bottom: 1rem;
  }

}

.data-contact {
  
  & label {
    margin-bottom: .75rem;
  }
}

.termos-aceitacao {
  border-top: 1px solid var(--input-stroke);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  color: var(--text-body);
  font: var(--body-sm);
  
  & input[type="checkbox"] {
    &:hover {
      outline: 2px solid var(--brand-light);
    }
  }
}

